<div style="margin-top: 40px"/>
<%= @phone.brand %> <%= @phone.model %>
<p><small>Description:</small></p>
<%= @phone.description %>
<% if !admin_signed_in? %><p><%= link_to "Buy", new_phone_ordernoreg_path(@phone.id) %></p><%end%>
